{% extends "index.html" %}
{% block title %}
<div class="tt-col-topic text-center">
    <h1>Change my information</h1>
    <p>You can change your information here</p>
    <p>&nbsp</p>
</div>
{% endblock %}
{% block register %}
<div class="row text-center vertical-middle-sm">
    <form class="col-md-9 form-horizontal" action="." method="post">{% csrf_token %}
        <div class="form-group">
            <label for="{{ form.email.id_for_label }}" class="col-md-7 control-label">邮箱：</label>
            <div class="col-md-1 text-left">{{user_form.email}}</div>
        </div>
        <div class="form-group">
            <label for="{{ form.password.id_for_label }}" class="col-md-7 control-label">毕业学校</label>
            <div class="col-md-1 text-left">{{userinfo_form.school}}</div>
        </div>
        <div class="form-group">
            <label for="{{ form.password.id_for_label }}" class="col-md-7 control-label">工作单位：</label>
            <div class="col-md-1 text-left">{{userinfo_form.company}}</div>
        </div>
        <div class="form-group">
            <label for="{{ form.password.id_for_label }}" class="col-md-7 control-label">职业：</label>
            <div class="col-md-1 text-left">{{userinfo_form.profession}}</div>
        </div>
        <div class="form-group">
            <label for="{{ form.password.id_for_label }}" class="col-md-7 control-label">地址：</label>
            <div class="col-md-1 text-left">{{userinfo_form.address}}</div>
        </div>
        <div class="form-group">
            <label for="{{ profile.birth.id_for_label }}" class="col-md-7 control-label">生日：</label>
            <div class="col-md-1 text-left">{{userprofile_form.birth}}</div>
        </div>
        <div class="form-group">
            <label for="{{ profile.phone.id_for_label }}" class="col-md-7 control-label">电话：</label>
            <div class="col-md-1 text-left">{{userprofile_form.phone}}</div>
        </div>
        <div class="form-group">
            <label for="{{ form.password.id_for_label }}" class="col-md-7 control-label">个人介绍</label>
            <div class="col-md-1 text-left">{{userinfo_form.aboutme}}</div>
        </div>
        <div class="col-md-12" style="margin-left:150px">
        <input type="submit" class="btn btn-primary btn-lg" style="display:block;margin:0 auto" value="Submit" >
        </div> 
    </form>
    
</div>
{% endblock %}



