{% extends 'index.html' %}
{% load static %}
{% block add_question %}
{#    <div class="container">#}
{#	<div class="row clearfix">#}
{#		<div class="col-md-2 column">#}
{#		</div>#}
{#		<div class="col-md-8 column">#}
{#			<div class="btn-group">#}
{#				 <button class="btn btn-default">Action</button> <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>#}
{#				<ul class="dropdown-menu">#}
{#					<li>#}
{#						 <a href="#">操作</a>#}
{#					</li>#}
{#					<li class="disabled">#}
{#						 <a href="#">另一操作</a>#}
{#					</li>#}
{#					<li class="divider">#}
{#					</li>#}
{#					<li>#}
{#						 <a href="#">其它</a>#}
{#					</li>#}
{#				</ul>#}
{#			</div>#}
{#			<form role="form">#}
{#				<div class="form-group">#}
{#					 <label for="exampleInputEmail1">标题</label><input class="form-control" id="exampleInputEmail1" type="email" />#}
{#				</div>#}
{#				<div class="form-group">#}
{#					 <label for="exampleInputPassword1">Password</label><input class="form-control" id="exampleInputPassword1" type="password" />#}
{#				</div>#}
{#				<div class="form-group">#}
{#					 <label for="exampleInputFile">File input</label><input id="exampleInputFile" type="file" />#}
{#					<p class="help-block">#}
{#						Example block-level help text here.#}
{#					</p>#}
{#				</div>#}
{#				<div class="checkbox">#}
{#					 <label><input type="checkbox" />Check me out</label>#}
{#				</div> <button class="btn btn-default" type="submit">Submit</button>#}
{#			</form>#}
{#		</div>#}
{#		<div class="col-md-2 column">#}
{#		</div>#}
{#	</div>#}
{#</div>#}


{#老齐#}
    <!--markdown-->
<link rel="stylesheet" href="{% static 'editor/css/style.css' %}">
<link rel="stylesheet" href="{% static 'editor/css/editormd.css' %}">
<div style="margin-left: 10px">
    <form class="form-horizontal" action="." method="post">{% csrf_token %}
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2 text-right"><span>问题：</span></div>
            <div class="col-md-10 text-left">{{ form.title }}</div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2 text-right"><span>类型：</span></div>
            <div class="col-md-10 text-left">
                {{ form.category }}
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2 text-right"><span>详细描述：</span></div>
                        <div class="col-md-10 text-left">{{ form.question }}</div>
{#            <div id="editormd" class="col-md-10 text-left">#}
{#                <textarea style="display: none;" id="id_question"></textarea>#}
{#            </div>#}
        </div>
        <div class="row">
            <button class="btn btn-default" type="submit">提问</button>
        </div>
    </form>
</div>
<script type="text/javascript" src='{% static "js/jquery.js" %}'></script>
<script type="text/javascript" src="{% static 'js/layer.js' %}"></script>
{#<script type="text/javascript">#}
{#    function add_question() {#}
{#        var questionTitle = $("#id_title").val();#}
{#        var category_id = $("#which_category").val();#}
{#        var question = $("#id_question").val();#}
{#        $.ajax({#}
{#            url:"{% url 'question:add_question' %}",#}
{#            type:"POST",#}
{#            data: {"questionTitle":questionTitle,"questionDiscreption":question,"category_id":category_id},#}
{#            success: function (e) {#}
{#                if(e == "1"){#}
{#                    layer.msg("successful")#}
{#                }#}
{##}
{#            },#}
{##}
{#        });#}
{##}
{#    }#}
{#</script>#}

        <!--markdown-->
{#<script type="text/javascript" src='{% static "editor/editormd.min.js" %}'></script>#}
{#<script type="text/javascript">#}
{#    $(function() {#}
{#        var editor  = editormd("editormd",{#}
{#            width : "100%",#}
{#            height : 640,#}
{#            syncScrolling : "single",#}
{#            path : "{% static 'editor/lib/' %}"#}
{#        });#}
{#    });#}
{#</script>#}
{% endblock %}
