{% extends 'index.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'editor/css/style.css' %}">
<link rel="stylesheet" href="{% static 'editor/css/editormd.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<div class="col-sm-9">
    <div class="tt-topic-list">
        <div class="tt-list-header">
            <!-- <div class="tt-col-whitespace"></div> -->
            <div class="tt-col-topic">
                <h2>Asking</h2>
            </div>
        </div>
    </div>
        <div id="fh5co-contact" >
            <div class="container">
                <form action="." method="post">
                    {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.category.id_for_label }}">请选择问题种类</label>
                    {{ form.category }}
                </div>
                <div class="form-group">
                    <label for="{{ form.title.id_for_label }}">题目</label>
                    {{ form.title }}
                </div>
                <div class="miaoshu"><span>详细描述：</span></div>
                    <!--<div class="col-md-10 text-left">{{ form.question }}</div>-->

                    <div id="editormd" class=" text-left">
                    <textarea style="display: none;" id="id_body"></textarea>
                </div>
                    <div class="row text-center vertical-middle-sm" >
                        {{ askMessage }}
                        <button type="submit" class="btn btn-default btn-lg" style="margin-left:200px">提交</button>
                        <!--<p><a class="btn btn-primary btn-lg" href="../ask2">提交</a><p>-->
                    </div>
                </form>
            </div>
        </div>
</div>

<script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
<script type="text/javascript" src="{% static 'js/layer.js' %}"></script>
<script type="text/javascript" src="{% static 'js/json2.js' %}"></script>
<script type="text/javascript" src="{% static "js/csrf.js" %}"></script>
<script type="text/javascript" src="{% static 'editor/editormd.min.js' %}"></script>
<script type="text/javascript">
    function add_question() {
        var questionTitle = $("#id_title").val();
        var category_id = $("#which_category").val();
        var body = $("#id_body").val();
        $.ajax({
            url:"{% url 'question:add_question' %}",
            type:"POST",
            data: {"questionTitle":questionTitle,"questionDescription":body,"category":category_id},
            success:function (e) {
                    if(e==="1")
                        layer.msg("successful");
                    else if(e===2)
                        layer.msg("sorry");
                    else {
                        layer.msg("sorry2");

                    }

            }

        })

    }
</script>

        <!--markdown-->
<script type="text/javascript" src='{% static "editor/editormd.min.js" %}'></script>
<script type="text/javascript">
    $(function() {
        var editor  = editormd("editormd",{
            width : "100%",
            height : 640,
            syncScrolling : "single",
            imageUpload : true,
            path : "{% static 'editor/lib/' %}"
        });
    });
</script>
{% endblock %}
{% block left %}
<div class="col-sm-3" style="position: fixed;">
    <div class="side-bar-well clearfix">
        <div class="col-sm-5"><img src="{% static 'images/support.png' %}"width="90px" height="70px"></div>
        <div class="col-sm-7">
            <p class="side-bar-well-title">欢迎联系我们</p>
            <p>5526765@qq.com</p>
        </div>
    </div>
    <div class="side-bar-well">
        <strong class="side-bar-well-title">热门问题</strong>
        {% for question in question_2 %}
        <a href="{{ question.id }}" class="news-item">
            <div class="news-title">{{question.questionTitle}}</div>
        </a>
        <div class="news-info">
            <span>{{ question.user }}</span>
            <span>&nbsp{{question.created}}&nbsp</span>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}