{% extends "question/content.html" %}
{% load static %}
{% block answer %}

<!--markdown-->
<link rel="stylesheet" href="{% static 'editor/css/style.css' %}">
<link rel="stylesheet" href="{% static 'editor/css/editormd.css' %}">
<form class="form-horizontal" action="." method="post">{% csrf_token %}
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-2 text-right"><span>你的回答：</span></div>
            <div id="editormd" class="col-md-10 text-left">
                <textarea style="display: none;" id="id_body" >{{ change_answer.answer_text }}</textarea>
            </div>
{#                content_of_answer为回答内容，随便改名字#}

    </div>
     <div class="row">
        <button class="btn btn-default" type="submit" class="btn btn-default" style="margin-left:200px">回答</button>
    </div>


</form>

            <!--markdown-->
<script type="text/javascript" src='{% static "editor/editormd.min.js" %}'></script>
<script type="text/javascript">
    $(function() {
        var editor  = editormd("editormd",{
            width : "100%",
            height : 640,
            syncScrolling : "single",
            imageUpload : true,
            path : "{% static 'editor/lib/' %}"
        });
    });
</script>
{% endblock %}