{% extends "question/content.html" %}
{% load static %}
{% load markdown_extras %}
{% block comment %}
    <p>
        {{ answer.answer_text | markdown | safe  }}
    </p>
    <form class="form-horizontal" action="." method="post">{% csrf_token %}
    <div class="row" style="margin-top: 10px;">
        <div class="text-left" style="margin:10px">
            {{ comment_form.comment_text }}
        </div>

        <div class="row text-center vertical-middle-sm" >
            <button type="submit" class="btn btn-default btn-lg" >评论</button>
		</div>
        
    </div>
    </form>
{% endblock %}

