{% extends "index.html" %}
{% load static %}
{% block title %} {{ question.questionTitle }}{% endblock %}
{% block content %}
 {% with total_likes=question.users_like.count  users_like=question.users_like.all %}
<h1>{{ question.questionTitle }}</h1>
<p>{{ question.user }}</p>
 {#     <p class="text-center">#}
  {#           <a onclick="like_question({{question.id}},'like')" href="#"> #}
  {#                <span class="glyphicon glyphicon-thumbs-up">like</span>#}
  {#           </a>#}
   {#   </p>#}
   {#  <p class="text-center">#}
     {#        <a onclick="like_question({{question.id}},'unlike')" href="#">#}
      {#         <span  style="margin-left:15px;"class="glyphicon  glyphicon-thumbs-down">unlike</span>#}
       {#       </a>#}
   {#   </p>#}
     <div class="like-btn">
                            <a id="like-it" href="{% url 'question:like_question' id=question.id action='like'%}">
                                <span class="glyphicon glyphicon-thumbs-up">{{ question.goodNum }}</span>
                            </a>
                            <a href="{% url 'question:collect_question' id=question.id action="收藏" %}">收藏</a>
                        </div>

                        <div class="unlike-btn">
                            <a id="unlike-it" href="{% url 'question:like_question' id=question.id action='unlike'%}">
                                <span class="glyphicon  glyphicon-thumbs-down">{{ question.badNum }}</span>
                            </a>
                          <a href="{% url 'question:cancel_collect_question' id=question.id action="取消收藏" %}">取消收藏</a>
                        </div>
    <div>
    <p class="text-center"><strong>点赞本问题的读者</strong></p>
    {% for user  in question.users_like.all %}
    <p class="text-center">{{ user.username }}</p>
    {% empty %}
    <p class="text-center">还没有人对此问题表态</p>
    {% endfor %}
    </div>
    <a href="{% url 'answer:answer_question' question_id=question.id%}">回答</a>
    {% block answer %}{% endblock %}
    {% for answer in answer_list %}
    <div class="container">
	<div class="row clearfix">
		<div class="col-md-2 column">
		</div>
		<div class="col-md-8 column">
{#			<h2>#}
{#				Heading#}
{#			</h2>#}
			<p>
				{{ answer.answer_text }}
			</p>
			<p>
				 <a class="btn" href="#">View details »</a>
			</p>
		</div>
		<div class="col-md-2 column">
		</div>
	</div>
    </div>
    {% endfor %}
{% endwith %}
{% endblock %}

<script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
<script type="text/javascript" src="{% static 'js/layer.js' %}"></script>
<script type="text/javascript" src="{% static 'js/json2.js' %}"></script>
<script type="text/javascript" src="{% static "js/csrf.js" %}"></script>
<script>
    function like_question(id,action) {
        $.ajax(
            {
                url:"{% url 'question:like_question' %}",
                type:"POST",
                data: {"id":id,"action":action},
                success:function (e) {
                    if(e===1){
                        layer.msg("感谢点赞");
                        window.location.reload();

                    }else {
                        layer.msg("我会继续努力");
                        window.location.reload();
                    }

                },
                error:function (e) {
                    layer.msg("发送失败");

                }
            });


    }
</script>