{% extends "index.html" %}
{% load static %}

{% block register %}
<div class="container">


			<div class="jumbotron" >
                <div class="row text-center vertical-middle-sm">
                <div class="container">
	<div class="row clearfix">
		<div class="col-md-4 column">
            <div class="col-md-6" >
            {% load static %}
            <div style="margin-right: 100px">
                {% if user.userinfo.photo %}
                <img src="{{ user.userinfo.photo | striptags }}" class="img-circle" id="my_photo" name="user_face">
                {% else %}
                <img name="user_face" src="{% static 'images/default.jpg' %}" class="img-circle" width="270px" id="my_photo">
                {% endif %}
            </div>
            <div style="margin-right: 100px"><button class="btn btn-primary btn-lg" id="upload_image" onclick="upload_image_layer()">upload my photo</button></div>
        </div>
		</div>
		<div class="col-md-8 column">
             <div class="row">
        <div class="col-md-6" >
            <div class="row">
                <div class="col-md-4 text-right"><span>用户名：</span></div>
                <div class="col-md-8 text-left">{{user.username}}</div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right"><span>邮箱：</span></div>
                <div class="col-md-8 text-left">{{user.email}}</div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right"><span>生日：</span></div>
                <div class="col-md-8 text-left">{{user.userprofile.birth}}</div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right"><span>电话：</span></div>
                <div class="col-md-8 text-left">{{user.userprofile.phone}}</div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right"><span>毕业学校：</span></div>
                <div class="col-md-8 text-left">{{user.userinfo.school}}</div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right"><span>工作单位：</span></div>
                <div class="col-md-8 text-left">{{user.userinfo.company}}</div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right"><span>职业：</span></div>
                <div class="col-md-8 text-left">{{user.userinfo.profession}}</div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right"><span>地址：</span></div>
                <div class="col-md-8 text-left">{{user.userinfo.address}}</div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right"><span>个人介绍：</span></div>
                <div class="col-md-8 text-left">{{user.userinfo.aboutme}}</div>
            </div>
            <a href="{% url 'account:edit_my_information' %}"><button class="btn btn-primary btn-lg">edit my information</button> </a>
        </div>

    </div>
		</div>
	</div>
</div>


</div>
<script type="text/javascript" src='{% static "js/jquery.js" %}'></script>
<script type="text/javascript" src="{% static 'js/layer.js'%}"></script>
<script>
function upload_image_layer(){
    location.href= "{% url 'account:my_image' %}"
}
</script>
			</div>


</div>


<div>
    <div class="col-sm-2">
        <div class="side-bar">
            <a class="list-group-item" href="{% url "question:my_center" %}">我的提问</a>
            <a class="list-group-item" href="{% url "question:my_answers" %}">我的回答</a>
            <a class="list-group-item" href="{% url "account:my_collections" %}">我的收藏</a>
        </div>
    </div>


    <div class="col-sm-9">
        <main id="tt-pageContent" class="tt-offset-small">
            <div class="container">
                <div class="tt-topic-list">
                    {% block list %}
                    <div class="tt-list-header">
                        <div class="tt-col-topic text-center">
                            <h1>我的问题</h1>
                        </div>
                    </div>
                </div>
                {% for question in questions %}
                <div class="tt-item">
                    <div class="tt-single-topic">
                        <div class="tt-item-header pt-noborder">
                            <div class="tt-item-header info-top">
                                <div class="tt-avater-title">
                                    <a href="#">author: {{ question.user }}</a>
                                </div>
                                <div class="tt-item-title">
                                    <a href="../{{question.id}}">{{question.questionTitle}}</a>
                                </div>
                                <div class="tt-item-tag">
                                    <ul class="tt-list-badge">
                                        <li><a href="#"><span
                                                    class="tt-color09 tt-badge">发表于{{ question.created }}</span></a></li>
                                        <li><a href="#"><span class="tt-color02 tt-badge">赞同 {{ question.goodNum }}</span></a></li>
                                        <li><a href="#"><span class="tt-color02 tt-badge">反对 {{ question.badNum }}</span></a></li>
                                    </ul>
                                </div>
                                <div class="tt-item-title">
                                    <p>{{ question.questionDescription | truncatechars:"30"}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                    {% endblock %}
            </div>
        </div>
    </main>
</div>
</div>
    {% block left %} {% endblock %}

{% endblock %}

