{% extends 'index.html' %}
{% load static %}
{% block content %}
<div class="col-sm-9">
<!--    <p>keyword: {{ keyword }}</p>-->
<!--    <p>type: {{ type }}</p>-->
<!--    <p>questionlist: {{ question_list }}</p>-->
    <!-- <main id="tt-pageContent" class="tt-offset-small">
        <div class="container">
            <div class="row"> -->
    <div class="tt-topic-list">
        <div class="tt-list-header">
            <!-- <div class="tt-col-whitespace"></div> -->
            <div class="tt-col-topic" style="margin-left:130px">
                <h2>Search</h2>
            </div>
        </div>
    </div>
    <div class="tt-single-topic-list">
        {% if err_msg %}
        <div class="tt-item">
            <div class="tt-item-header">
                <h3>
                    <p>{{ err_msg }}</p>
                </h3>
            </div>
        </div>
        {% else %}
        <div class="col-sm-2">
            <div class="tt-item" style="position: fixed; left: 15px; top: 75px;">
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation"><a href="../search/?type=question">问题搜索结果</a></li>
                    <li role="presentation"><a href="../search/?type=answer">回答搜索结果</a></li>
                    <li role="presentation"><a href="../search/?type=user">用户搜索结果</a></li>
                </ul>
        </div>
        </div>
        
        <div class="col-sm-9">
            {% if keyword %}
            <div class="tt-item">
                <div class="tt-info-box">
                    <div class="row-object-inline form-default">
                        <h6 class="tt-title">关键字:</h6>
                        <ul class="tt-list-badge tt-size-lg">
                            <li><a href="#"><span class="tt-color02 tt-badge">{{ keyword }}</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endif %}


            {% if type is None %}
                <div class="tt-item">
                            <div class="tt-info-box">
                                <a name="1"><p style="color:#3399CC;">有关问题搜索结果：</p></a>
                                <hr />
                            </div>
                </div>
                {% for question in question_list %}
                <div class="tt-item">
                    <div class="tt-single-topic">
                        <div class="tt-item-header pt-noborder">
                            <div class="tt-item-header info-top">
                                <div class="tt-avater-title">
                                    <a href="#">author: {{ question.user }}</a>
                                </div>
                                <div class="tt-item-title">
                                    <a href="../{{question.id}}">{{question.questionTitle}}</a>
                                </div>
                                <div class="tt-item-tag">
                                    <ul class="tt-list-badge">
                                        <li><a href="#"><span class="tt-color09 tt-badge">发表于{{ question.created }}</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="tt-item">
                    <div class="tt-info-box">
                        <div class="row-object-inline form-default">
                            <h6 class="tt-title">道歉，没有找到相应的问题</h6>
                        </div>
                    </div>
                </div>
                {% endfor %}

                <div class="tt-item">
                            <div class="tt-info-box">
                                <a name="2"><p style="color:#3399CC;">有关回答搜索结果：</p></a>
                                <hr />
                            </div>
                </div>
                {% for answer in answer_list %}
                <div class="tt-item">
                    <div class="tt-single-topic">
                        <div class="tt-item-header pt-noborder">
                            <div class="tt-item-header info-top">
                                <div class="tt-avater-title">
                                    <a href="#">author: {{ answer.author }}</a>
                                </div>
                                <div class="tt-item-title">
                                    <a href="../{{ answer.question.id }}">{{answer.question}}</a>
                                    <p>{{ answer.answer_text }}</p>
                                </div>
                                <div class="tt-item-tag">
                                    <ul class="tt-list-badge">
                                        <li><a href="#"><span class="tt-color09 tt-badge">发表于{{ answer.pub_date }}</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="tt-item">
                    <div class="tt-info-box">
                        <div class="row-object-inline form-default">
                            <h6 class="tt-title">道歉，没有找到相应的回答</h6>
                        </div>
                    </div>
                </div>
                {% endfor %}
        
                <div class="tt-item">
                            <div class="tt-info-box">
                                <a name="3"><p style="color:#3399CC;">有关用户搜索结果：</p></a>
                                <hr />
                            </div>
                </div>
                {% for user in user_list %}
                <div class="tt-item">
                    <div class="tt-single-topic">
                        <div class="tt-item-header pt-noborder">
                            <div class="tt-item-header info-top">
                                <div class="tt-item-title">
                                    <a href="../show_question/?user={{user.id}}">{{user.username}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="tt-item">
                    <div class="tt-info-box">
                        <div class="row-object-inline form-default">
                            <h6 class="tt-title">道歉，没有找到相应的用户</h6>
                        </div>
                    </div>
                </div>
                {% endfor %}

            {% elif type == 'question' %}
                <div class="tt-item">
                            <div class="tt-info-box">
                                <a name="1"><p style="color:#3399CC;">有关问题搜索结果：</p></a>
                                <hr />
                            </div>
                </div>
                {% for question in question_list %}
                <div class="tt-item">
                    <div class="tt-single-topic">
                        <div class="tt-item-header pt-noborder">
                            <div class="tt-item-header info-top">
                                <div class="tt-avater-title">
                                    <a href="#">author: {{ question.user }}</a>
                                </div>
                                <div class="tt-item-title">
                                    <a href="../{{question.id}}">{{question.questionTitle}}</a>
                                </div>
                                <div class="tt-item-tag">
                                    <ul class="tt-list-badge">
                                        <li><a href="#"><span class="tt-color09 tt-badge">发表于{{ question.created }}</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="tt-item">
                    <div class="tt-info-box">
                        <div class="row-object-inline form-default">
                            <h6 class="tt-title">道歉，没有找到相应的问题</h6>
                        </div>
                    </div>
                </div>
                {% endfor %}

            {% elif type == 'answer' %}
                <div class="tt-item">
                            <div class="tt-info-box">
                                <a name="2"><p style="color:#3399CC;">有关回答搜索结果：</p></a>
                                <hr />
                            </div>
                </div>
                {% for answer in answer_list %}
                <div class="tt-item">
                    <div class="tt-single-topic">
                        <div class="tt-item-header pt-noborder">
                            <div class="tt-item-header info-top">
                                <div class="tt-avater-title">
                                    <a href="#">author: {{ answer.author }}</a>
                                </div>
                                <div class="tt-item-title">
                                    <a href="../{{ answer.question.id }}">{{answer.question}}</a>
                                    <p>{{ answer.answer_text }}</p>
                                </div>
                                <div class="tt-item-tag">
                                    <ul class="tt-list-badge">
                                        <li><a href="#"><span class="tt-color09 tt-badge">发表于{{ answer.pub_date }}</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="tt-item">
                    <div class="tt-info-box">
                        <div class="row-object-inline form-default">
                            <h6 class="tt-title">道歉，没有找到相应的回答</h6>
                        </div>
                    </div>
                </div>
                {% endfor %}

            {% else %}
                <div class="tt-item">
                            <div class="tt-info-box">
                                <a name="3"><p style="color:#3399CC;">有关用户搜索结果：</p></a>
                                <hr />
                            </div>
                </div>
                {% for user in user_list %}
                <div class="tt-item">
                    <div class="tt-single-topic">
                        <div class="tt-item-header pt-noborder">
                            <div class="tt-item-header info-top">
                                <div class="tt-item-title">
                                    <a href="../show_question/?user={{user.id}}">{{user.username}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="tt-item">
                    <div class="tt-info-box">
                        <div class="row-object-inline form-default">
                            <h6 class="tt-title">道歉，没有找到相应的用户</h6>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
            {% endif %}
        </div>

    
        <!-- </div>
            </div>
        </main> -->
    </div>
</div>
{% endblock %}
{% block left %}
<div class="col-sm-3" >
    <div class="side-bar-well clearfix" style="position: fixed;">
        <div class="col-sm-5"><img src="{% static 'images/support.png' %}"></div>
        <div class="col-sm-7">
            <p class="side-bar-well-title">欢迎联系我们</p>
            <p>5526765@qq.com</p>
        </div>
    </div>
    <div class="side-bar-well" style="position: fixed; margin-top:90px">
        <strong class="side-bar-well-title">热门问题</strong>
        {% for question in question_2 %}
        <a href="{% url 'question:question_content' question_id=question.id %}" class="news-item">
            <div class="news-title">{{question.questionTitle}}</div>
        </a>
        <div class="news-info">
            <span>{{ question.user }}</span>
            <span>&nbsp{{question.created}}&nbsp</span>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}