{% extends "question/content.html" %}
{% load static %}
{% load markdown_extras %}
{% block content %}
<div class="col-sm-9">
    <div class="tt-topic-list">
        <div class="tt-item">
            <div class="tt-single-topic">
                <div class="tt-item-info info-top">
                    <div class="tt-avater-title">
                        <h2>回答描述：</h2>
                    </div>
                </div>
                <div class="tt-item-description">
                    <div class="tt-item-header pt-noborder">
                        <div class="tt-item-info info-top">
                            <div class="tt-avatar-icon">
                                {% if answer.author.userinfo.photo %}
                                <img src="{{ answer.author.userinfo.photo | striptags }}" height="50" width="50"
                                     class="img-circle" id="my_photo" name="user_face">
                                {% else %}
                                <img name="user_face" src="{% static 'images/default.jpg' %}" height="50" width="50"
                                     class="img-circle" width="270px" id="my_photo">
                                {% endif %}
                            </div>
                        <div class="tt-avater-title">
                                <h4><strong>作者： {{ answer.author }}</strong></h4>
                            </div>
                        </div>
                    </div>
                    <div class="tt-item-description">
                         <p>{{ answer.answer_text | markdown | safe }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="tt-list-header">
            <div class="tt-col-topic">
                <h2>Show comment</h2>
                <hr />
            </div>
        </div>
        {% for comment in comment_list %}
        <div class="tt-item">
            <div class="tt-single-topic">
                <div class="tt-item-header pt-noborder">
                    <div class="tt-item-header info-top">
                         <div class="tt-avatar-icon">
                                {% if comment.commenter.userinfo.photo %}
                                <img src="{{ comment.commenter.userinfo.photo | striptags }}" height="50" width="50"
                                     class="img-circle" id="my_photo" name="user_face">
                                {% else %}
                                <img name="user_face" src="{% static 'images/default.jpg' %}" height="50" width="50"
                                     class="img-circle" width="270px" id="my_photo">
                                {% endif %}
                         <div class="tt-avater-title">
                                <h4><strong>{{ comment.commenter }}</strong></h4>
                         </div>
                         </div>
                        <div class="tt-item-title">
                            <p>{{ comment }}</p>
                            <a href="#"><span class="tt-badge">{{ comment.commenter }}发表于{{comment.pubDate}}</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="tt-item">
            <div class="tt-info-box">
                <div class="row-object-inline form-default">
                    <h6 class="tt-title">尚没有评论</h6>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}