{% extends 'index.html' %}
{% block content %}
<div class="col-sm-9">
	<div class="tt-topic-list">
		{% if user %}
        <div class="tt-list-header">
            <div class="tt-col-topic text-center">
                <h4>Username:{{ username }}</h4>
            </div>
		</div>
		{% endif %}
        {% for question in question_list %}
        <div class="tt-item">
            <div class="tt-single-topic">
                <div class="tt-item-header pt-noborder">
                    <div class="tt-item-header info-top">
                        <div class="tt-avater-title">
                            <a href="#">author: {{ question.user }}</a>
                        </div>
                        <div class="tt-item-title">
                            <a href="../{{question.id}}">{{question.questionTitle}}</a>
                        </div>
                        <div class="tt-item-tag">
                            <ul class="tt-list-badge">
                                <li><a href="#"><span class="tt-color09 tt-badge">发表于{{ question.created }}</span></a>
                                </li>
                                <li><a href="#"><span class="tt-color02 tt-badge">赞同 {{ question.goodNum }}</span></a>
                                </li>
                                <li><a href="#"><span class="tt-color02 tt-badge">反对 {{ question.badNum }}</span></a>
                                </li>
                            </ul>
                        </div>
                        <div class="tt-item-title">
                            <p>{{ question.questionDescription | truncatechars:"30"}}</p>
                        </div>
                    </div>
                </div>
            </div>
		</div>
		{% empty %}
        <div class="tt-list-header">
            <div class="tt-col-topic text-center">
				<p>该用户尚未发布任何问题</p>
            </div>
		</div>
        {% endfor %}
    </div>
</div>
{% endblock %}