{% extends 'index.html' %}
{% load static %}
{% block add_question %}
<!doctype html>
        <!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en-US"> <![endif]-->
        <!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en-US"> <![endif]-->
        <!--[if IE 8]>    <html class="lt-ie9" lang="en-US"> <![endif]-->
        <!--[if gt IE 8]><!--> <html lang="en-US"> <!--<![endif]-->
        <head>
                <!-- META TAGS -->
                <meta charset="UTF-8" />
                <meta name="viewport" content="width=device-width, initial-scale=1.0">  <!--适应设备尺寸-->

                <title>Knowledge Base Theme</title>

                <link rel="shortcut icon" href="images/favicon.png" />  <!--网站的小图标-->


                

                <!-- Style Sheet-->
                <link rel="stylesheet" href="style.css"/>
                <link rel='stylesheet' id='bootstrap-css-css'  href='../../static/css/bootstrap5152.css?ver=1.0' type='text/css' media='all' />
                <link rel='stylesheet' id='responsive-css-css'  href='../../static/css/responsive5152.css?ver=1.0' type='text/css' media='all' />
                <link rel='stylesheet' id='pretty-photo-css-css'  href='../../static/js/prettyphoto/prettyPhotoaeb9.css?ver=3.1.4' type='text/css' media='all' />
                <link rel='stylesheet' id='main-css-css'  href='../../static/css/main5152.css?ver=1.0' type='text/css' media='all' />
                <link rel='stylesheet' id='custom-css-css'  href='../../static/css/custom5152.html?ver=1.0' type='text/css' media='all' />


                <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
                <!--[if lt IE 9]>
                <script src="js/html5.js"></script></script>
                <![endif]-->

        </head>

        <body>

                <!-- Start of Page Container -->
                <div class="page-container">
                        <div class="container">
                                <div class="row">
                                <div class="row home-category-list-area">
                                                        <div class="span8">
                                                                <h2>问题分区</h2>
                                                        </div>
                                                </div>

                                                <div class="row-fluid top-cats">

                                                        <section class="span4">
                                                                <h4 class="category"><a href="#">大学物理区</a></h4>
                                                                <div class="category-description">
                                                                        <p>与大学物理相关的各种问题，都收录在本分区中</p>
                                                                </div>
                                                        </section>

                                                        <section class="span4">
                                                                <h4 class="category"><a href="#">高等数学区</a></h4>
                                                                <div class="category-description">
                                                                        <p>在学习高数中有什么疑惑，都可以在本分区中展开讨论</p>
                                                                </div>
                                                        </section>

                                                        <section class="span4">
                                                                <h4 class="category"><a href="#">计算机科学区</a></h4>
                                                                <div class="category-description">
                                                                        <p>欢迎各位CS大神前来讨论</p>
                                                                </div>
                                                        </section>
                                                </div>
                                                <div class="row-fluid top-cats">

                                                        <section class="span4">
                                                                <h4 class="category"><a href="#">英语四六级区</a></h4>
                                                                <div class="category-description">
                                                                        <p>构建最好的英语四六级资料与经验分享交流平台</p>
                                                                </div>
                                                        </section>

                                                        <section class="span4">
                                                                <h4 class="category">
                                                                        <a href="#">生命科学区</a></h4>
                                                                <div class="category-description">
                                                                        <p>欢迎各位生科科研狗前来吐槽</p>
                                                                </div>
                                                        </section>

                                                        <section class="span4">
                                                                <h4 class="category"><a href="#">大学化学区</a></h4>
                                                                <div class="category-description"><p>炼金术！ Cu + Al = Au + Cl</p>
                                                                </div>
                                                        </section>
                                                </div>

                                        </div>

                                        <!-- start of page content -->
                                        <div class="span8 page-content">

                                                <!-- Basic Home Page Template -->
                                                <div class="row separator">
                                                        <section class="span4 articles-list">
                                                                <h3>精选提问</h3>
                                                                <ul class="articles">
                                                                        <li class="article-entry standard">
                                                                                <h4><a href="single.html">鸡你太美</a></h4>
                                                                                <span class="article-meta">25 Feb, 2020 于 <a href="jinitaimei.html">大学物理区</a></span>
                                                                                <span class="like-count">66</span>
                                                                        </li>
                                                                        <li class="article-entry standard">
                                                                                <h4><a href="single.html">唱</a></h4>
                                                                                <span class="article-meta">24 Feb, 2020 in <a href="chang.html" >高等数学区</a></span>
                                                                                <span class="like-count">15</span>
                                                                        </li>
                                                                        <li class="article-entry video">
                                                                                <h4><a href="single.html">跳</a></h4>
                                                                                <span class="article-meta">23 Feb, 2020 in <a href="tiao.html" >计算机科学区</a></span>
                                                                                <span class="like-count">8</span>
                                                                        </li>
                                                                        <li class="article-entry image">
                                                                                <h4><a href="single.html">RAP</a></h4>
                                                                                <span class="article-meta">22 Feb, 2020 in <a href="rap.html" >英语四六级区</a></span>
                                                                                <span class="like-count">6</span>
                                                                        </li>
                                                                        <li class="article-entry standard">
                                                                                <h4><a href="single.html">篮球</a></h4>
                                                                                <span class="article-meta">22 Feb, 2020 in <a href="篮球.html" >生命科学区</a></span>
                                                                                <span class="like-count">2</span>
                                                                        </li>
                                                                        <li class="article-entry standard">
                                                                                <h4><a href="single.html">MUSIC</a></h4>
                                                                                <span class="article-meta">21 Feb, 2020 in <a href="music.html" >大学化学区</a></span>
                                                                                <span class="like-count">3</span>
                                                                        </li>
                                                                </ul>
                                                        </section>

                                                        <section class="span4 articles-list">
                                                                <h3>最新提问</h3>
                                                                <ul class="articles">
                                                                         <li class="article-entry standard">
                                                                                <h4><a href="single.html">MUSIC</a></h4>
                                                                                <span class="article-meta">21 Feb, 2020 in <a href="music.html" >大学化学区</a></span>
                                                                                <span class="like-count">3</span>
                                                                        </li>
                                                                        <li class="article-entry standard">
                                                                                <h4><a href="single.html">篮球</a></h4>
                                                                                <span class="article-meta">22 Feb, 2020 in <a href="篮球.html" >生命科学区</a></span>
                                                                                <span class="like-count">2</span>
                                                                        </li>
                                                                        <li class="article-entry image">
                                                                                <h4><a href="single.html">RAP</a></h4>
                                                                                <span class="article-meta">22 Feb, 2020 in <a href="rap.html" >英语四六级区</a></span>
                                                                                <span class="like-count">6</span>
                                                                        </li>
                                                                        <li class="article-entry video">
                                                                                <h4><a href="single.html">跳</a></h4>
                                                                                <span class="article-meta">23 Feb, 2020 in <a href="tiao.html" >计算机科学区</a></span>
                                                                                <span class="like-count">8</span>
                                                                        </li>
                                                                         <li class="article-entry standard">
                                                                                <h4><a href="single.html">唱</a></h4>
                                                                                <span class="article-meta">24 Feb, 2020 in <a href="chang.html" >高等数学区</a></span>
                                                                                <span class="like-count">15</span>
                                                                        </li>
                                                                        <li class="article-entry standard">
                                                                                <h4><a href="single.html">鸡你太美</a></h4>
                                                                                <span class="article-meta">25 Feb, 2020 于 <a href="jinitaimei.html">大学物理区</a></span>
                                                                                <span class="like-count">66</span>
                                                                        </li>
                                                                       
                                                                </ul>
                                                        </section>
                                                </div>

                                                
                                        <!-- end of page content -->

                <a href="#top" id="scroll-top"></a>

                <!-- script -->
                <script type='text/javascript' src='../../static/js/jquery-1.8.3.min.js'></script>
                <script type='text/javascript' src='../../static/js/jquery.easing.1.3.js'></script>
                <script type='text/javascript' src='../../static/js/prettyphoto/jquery.prettyPhoto.js'></script>
                <script type='text/javascript' src='../../static/js/jflickrfeed.js'></script>
                <script type='text/javascript' src='../../static/js/jquery.liveSearch.js'></script>
                <script type='text/javascript' src='../../static/js/jquery.form.js'></script>
                <script type='text/javascript' src='../../static/js/jquery.validate.min.js'></script>
                <script type='text/javascript' src='../../static/js/custom.js'></script>

        </body>
</html>
{% endblock %}
