{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Learningshare</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header id="tt-header">
        <div class="container">
            <div class="row tt-row no-gutters">
                <div class="col-auto">

                    <a class="toggle-mobile-menu" href="#">
                        <svg class="tt-icon">
                          <use xlink:href="#icon-menu_icon"></use>
                        </svg>
                    </a>
                    <!-- /toggle mobile menu -->
                    <!-- logo -->
                    <div class="tt-logo">
                        <a href="{% url 'question:index' %}"><img src="{% static 'images/test.png' %}" alt=""></a>
                    </div>

                    <div class="tt-title">
                        <a href="{% url 'question:index' %}"><span>LearningShare</span></a>
                    </div>

                    <!-- menu -->
                    <div class="tt-desktop-menu">
                        <nav>
                            <ul>
                                <!-- <li><a href="{% url 'question:index' %}"><span>LearningShare</span></a></li> -->
                                <li><a href="#"><span>Link</span></a></li>
                                <li><a href="#"><span>Link</span></a></li>
                                <li><a href="#"><span>Link</span></a></li>
                            </ul>
                        </nav>
                    </div>

                    <!-- search -->
                    <div class="tt-search">
                        <!-- toggle -->
                        <button class="tt-search-toggle" data-toggle="modal" data-target="#modalAdvancedSearch">
                            <svg class="tt-icon">
                                <use xlink:href="#icon-search"></use>
                            </svg>
                        </button>

                        <form class="search-wrapper" role="search" method="get" action="{%url 'question:search' %}">
                            <div class="form-group">
                                <input type="search" class="tt-search__input" name="keyword" placeholder="Search"
                                    required>
                                <!-- <button type="submit" class="btn btn-default"><span>搜索</span></button> -->
                                <!-- <button type="button" class="tt-view-all" data-toggle="modal" data-target="#modalAdvancedSearch">Advanced Search</button> -->
                            </div>
                        </form>
                    </div>

                    <div class="tt-desktop-menu">
                        <nav>
                            <ul>
                                <li><a href="{% url 'question:add_question' %}"><span>提问</span></a></li>
                            </ul>
                        </nav>
                    </div>

                    <div class="col-auto">
                        <div class="tt-account-btn">
                            <a href="{% url 'account:user_register' %}" class="btn btn-secondary"><span>注册</span></a>
                        </div>
                    </div>

                    <div class="tt-desktop-menu">
                        <nav>
                            <ul>
                                    {% if user.is_authenticated %}
                                    <li>
                                        <a href="#"><span>{{user.username}}</span></a>
                                        <ul>
                                            <li><a href="#">我的主页</a></li>
                                            <li><a href="{% url 'account:password_change' %}">修改密码</a></li>
                                            <li><a href="{% url 'account:my_information' %}">个人信息</a></li>
                                            <li><a href="{% url 'question:my_questions' %}">我的问题与回答</a></li>
                                            <li><a href="{% url 'account:my_collections' %}">我的收藏</a></li>
                                            <li><a href="#">设置</a></li>
                                            <li><a href="{% url 'account:user_logout' %}">退出</a></li>
                                        </ul>
                                    {% else %}
                                    <li>
                                        <a href="{% url 'account:user_login' %}">登录</a>
                                    </li>
                                    {% endif %}
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <!-- <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a href="{% url 'question:index' %}" class="navbar-brand">LearningShare</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
            </ul>
            <form class="navbar-form navbar-left" role="search" method="get" id="searchform"
                action="{%url 'question:search' %}">
                <div class="form-group">
                    <input type="search" class="form-control" name="keyword" placeholder="Search" required>
                    <button type="submit" class="btn btn-default"><span>搜索</span></button>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'question:add_question' %}">提问</a></li>
                <li><a href="{% url 'account:user_register' %}">注册</a></li>
                {% if user.is_authenticated %}
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">{{ user.username }}<strong
                            class="caret"></strong></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">我的主页</a></li>
                        <li><a href="{% url 'account:password_change' %}">修改密码</a></li>
                        <li><a href="{% url 'account:my_information' %}">个人信息</a></li>
                        <li><a href="{% url 'question:my_questions' %}">我的问题</a></li>
                        <li><a href="{% url 'question:my_collections' %}">我的收藏</a></li>
                        <li><a href="#">设置</a></li>
                        <li><a href="{% url 'account:user_logout' %}">退出</a></li>

                    </ul>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'account:user_login' %}">登录</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div> -->
</body>