{% load static %}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js'%}"></script>
</head>
<body>

<div class="container">
{% include "head.html" %}
{% block add_question %}
{% block content %}
    <div class="col-sm-2">
        <div class="list-group side-bar">
            <a class="list-group-item" href="{% url 'question:index'%}">全部</a>
			{% for category in categorys %}
			<a class="list-group-item"href="/question/?category_id={{ category.id }}" >{{ category.name}}</a>
			{% endfor %}
        </div>
    </div>
	<div class="col-sm-7">
	{% block question_list %}
        {% with total_likes=question.users_like.count  users_like=question.users_like.all %}
		{% for question in questions %}
        <div class="post-list">
            <div class="post-list-item">
                <a href="{{ question.id }}">
                    <div class="post-heading">{{question.questionTitle}}</div>
                </a>
                <p class="text-muted" >
                    <span>{{ question.user }}</span> 
                    <span>&nbspx评论&nbsp</span> 
                    <span>&nbsp{{question.created}}&nbsp</span>
					<span style="margin-right:20px" class="glyphicon glyphicon-thumbs-up">{{ total_likes }}like{{ total_likes|pluralize }}</span>
                </p>
            </div>
		</div>
		{% endfor %}
        {% endwith %}
	</div>
    {% block search %}
	<div class="col-sm-3">
      <div class="side-bar-well clearfix">
        <div class="col-sm-5"><img src="../static/images/support.png"></div>
        <div class="col-sm-7">
          <p class="side-bar-well-title">技术支持</p>
          <p>欢迎联系我们</p>
        </div>
      </div>
      <div class="side-bar-well">
        <strong class="side-bar-well-title">热门问题</strong>
		{% for question in questions %}
        <a href="{{ question.id }}" class="news-item">
          <div class="news-title">{{question.questionTitle}}</div>
		</a>
          <div class="news-info">
          	<span>{{ question.user }}</span> 
			<span>&nbsp{{question.created}}&nbsp</span>
          </div>
        {% endfor %}
	{% endblock %}
      </div>
    </div>
	{% endblock %}	
	

{% endblock %}
{% endblock %}
</div>
{% include "footer.html" %}
{% block javascript %}{% endblock %}
</body>
</html>
